In [26]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd
import holdout
from sklearn.model_selection import cross_val_score
import numpy as np

In [7]:
dataset = pd.read_csv("classificacao_Q3.csv")

In [8]:
dataset.head()

  Genero             Idade Escolaridade Profissao  Target
0      F  a - Ate 25 anos   Fundamental         b       0
1      M  a - Ate 25 anos         Medio         d       1
2      F  c - 36 a 45 anos  Fundamental         a       1
3      M  d - 46 a 55 anos  Fundamental         a       0
4      F  c - 36 a 45 anos  Fundamental         b       1

# Holdout (500 primeiras linhas treino, resto validação)

In [9]:
dataset_train = dataset.iloc[:500,:]
dataset_test = dataset.iloc[500:,:]

In [10]:
print(len(dataset_train),len(dataset_test),len(dataset))

500 500 1000

# Separando dados do target

In [31]:
dataset_train_x = dataset_train.iloc[:,:-1]
print(dataset_train_x.head())

dataset_train_y = dataset_train.iloc[:,-1:]
print(dataset_train_y.head())

  Genero             Idade Escolaridade Profissao
0      F  a - Ate 25 anos   Fundamental         b
1      M  a - Ate 25 anos         Medio         d
2      F  c - 36 a 45 anos  Fundamental         a
3      M  d - 46 a 55 anos  Fundamental         a
4      F  c - 36 a 45 anos  Fundamental         b
   Target
0       0
1       1
2       1
3       0
4       1

In [30]:
dataset_test_x = dataset_test.iloc[:,:-1]
print(dataset_test_x.head())

dataset_test_y = dataset_test.iloc[:,-1:]
print(dataset_test_y.head())

    Genero             Idade Escolaridade Profissao
500      F  d - 46 a 55 anos  Fundamental         b
501      F  d - 46 a 55 anos     Superior         a
502      M  e - Mais 56 anos  Fundamental         b
503      F  c - 36 a 45 anos  Fundamental         a
504      M  e - Mais 56 anos        Medio         a
     Target
500       1
501       1
502       1
503       0
504       1

# Encoding variables to numeric values

In [13]:
number = LabelEncoder()

In [14]:
dataset_train_x_encoded = pd.DataFrame(columns=dataset_train_x.columns)

In [15]:
for x in dataset_train_x.columns:
    dataset_train_x_encoded[x] = number.fit_transform(dataset_train_x[x])

In [16]:
dataset_train_x_encoded.head()

   Genero  Idade  Escolaridade  Profissao
0       0      0             0          1
1       1      0             1          3
2       0      2             0          0
3       1      3             0          0
4       0      2             0          1

In [17]:
dataset_test_x_encoded = pd.DataFrame(columns=dataset_test_x.columns)

In [18]:
for x in dataset_test_x.columns:
    dataset_test_x_encoded[x] = number.fit_transform(dataset_test_x[x])

In [20]:
dataset_test_x_encoded.head()

   Genero  Idade  Escolaridade  Profissao
0       0      3             0          1
1       0      3             3          0
2       1      4             0          1
3       0      2             0          0
4       1      4             1          0

In [27]:
model = BernoulliNB()
model.fit(dataset_train_x_encoded, dataset_train_y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [39]:
model = GaussianNB()
model.fit(dataset_train_x_encoded, dataset_train_y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB(priors=None)

In [42]:
model = MultinomialNB()
model.fit(dataset_train_x_encoded, dataset_train_y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [43]:
model.score(dataset_train_x_encoded, dataset_train_y)

0.784

In [44]:
model.score(dataset_test_x_encoded, dataset_test_y)

0.76