In [42]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold,
from sklearn.metrics import accuracy_score
import pandas as pd
import holdout
from sklearn.model_selection import cross_val_score
import numpy as np

In [2]:
dataset = pd.read_csv("data_files/Social_Network_Ads.csv")

In [3]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

# Holdout (500 primeiras linhas treino, resto validação)

In [44]:
dataset_no_id_x = dataset.iloc[:,1:-1]
dataset_no_id_y = dataset.iloc[:,-1:]

In [48]:
dataset_no_id_x['Gender'] = number.fit_transform(dataset_no_id_x['Gender'])

In [49]:
dataset_no_id_x.head()

   Gender  Age  EstimatedSalary
0       1   19            19000
1       1   35            20000
2       0   26            43000
3       0   27            57000
4       1   19            76000

In [4]:
dataset_train = dataset.iloc[:300,:]
dataset_test = dataset.iloc[300:,:]

In [5]:
print(len(dataset_train),len(dataset_test),len(dataset))

300 100 400

# Separando dados do target

In [6]:
dataset_train_x = dataset_train.iloc[:,1:-1]
print(dataset_train_x.head())

dataset_train_y = dataset_train.iloc[:,-1:]
print(dataset_train_y.head())

   Gender  Age  EstimatedSalary
0    Male   19            19000
1    Male   35            20000
2  Female   26            43000
3  Female   27            57000
4    Male   19            76000
   Purchased
0          0
1          0
2          0
3          0
4          0

In [7]:
dataset_test_x = dataset_test.iloc[:,1:-1]
print(dataset_test_x.head())

dataset_test_y = dataset_test.iloc[:,-1:]
print(dataset_test_y.head())

     Gender  Age  EstimatedSalary
300  Female   58            38000
301    Male   48            74000
302  Female   37           137000
303    Male   37            79000
304  Female   40            60000
     Purchased
300          1
301          1
302          1
303          1
304          0

# Encoding variables to numeric values

In [8]:
number = LabelEncoder()

In [9]:
dataset_train_x_encoded = pd.DataFrame(columns=dataset_train_x.columns)

In [10]:
dataset_train_x_encoded['Gender'] = number.fit_transform(dataset_train_x['Gender'])

In [11]:
dataset_train_x_encoded['Age'] = dataset_train_x['Age']

In [12]:
dataset_train_x_encoded['EstimatedSalary'] = dataset_train_x['EstimatedSalary']

In [23]:
dataset_test_x_encoded = pd.DataFrame(columns=dataset_test_x.columns, index=dataset_test_x.index)

In [24]:
dataset_test_x_encoded['Gender'] = number.fit_transform(dataset_test_x['Gender'])

In [25]:
dataset_test_x_encoded['Age'] = dataset_test_x['Age']

In [27]:
dataset_test_x_encoded['EstimatedSalary'] = dataset_test_x['EstimatedSalary']

In [50]:
model = GaussianNB()
#model.fit(dataset_train_x_encoded, dataset_train_y)
kf = KFold(n_splits=10,shuffle=False)

In [51]:
scores = cross_val_score(model, dataset_no_id_x, dataset_no_id_y, cv=kf)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [53]:
scores

array([0.8  , 0.925, 0.95 , 0.925, 0.925, 0.7  , 0.925, 0.725, 0.95 ,
       0.725])

In [40]:
model.score(dataset_train_x_encoded, dataset_train_y)

0.8733333333333333

In [41]:
model.score(dataset_test_x_encoded, dataset_test_y)

0.77