In [3]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd
import holdout
from sklearn.model_selection import cross_val_score
import numpy as np

In [4]:
dataset = pd.read_csv("classificacao_Q3.csv")

In [5]:
dataset.head()

  Genero             Idade Escolaridade Profissao  Target
0      F  a - Ate 25 anos   Fundamental         b       0
1      M  a - Ate 25 anos         Medio         d       1
2      F  c - 36 a 45 anos  Fundamental         a       1
3      M  d - 46 a 55 anos  Fundamental         a       0
4      F  c - 36 a 45 anos  Fundamental         b       1

# Holdout (500 primeiras linhas treino, resto validação)

In [6]:
dataset_train = dataset.iloc[:500,:]
dataset_test = dataset.iloc[500:,:]

In [7]:
print(len(dataset_train),len(dataset_test),len(dataset))

500 500 1000

# Separando dados do target

In [51]:
dataset_train_x = dataset_train.iloc[:,:-1]
print(dataset_train_x.head())

dataset_train_y = dataset_train.iloc[:,-1:]
print(dataset_train_y.head())

  Genero             Idade Escolaridade Profissao
0      F  a - Ate 25 anos   Fundamental         b
1      M  a - Ate 25 anos         Medio         d
2      F  c - 36 a 45 anos  Fundamental         a
3      M  d - 46 a 55 anos  Fundamental         a
4      F  c - 36 a 45 anos  Fundamental         b
   Target
0       0
1       1
2       1
3       0
4       1

In [52]:
dataset_test_x = dataset_test.iloc[:,:-1]
print(dataset_test_x.head())

dataset_test_y = dataset_test.iloc[:,-1:]
print(dataset_test_y.head())

    Genero             Idade Escolaridade Profissao
500      F  d - 46 a 55 anos  Fundamental         b
501      F  d - 46 a 55 anos     Superior         a
502      M  e - Mais 56 anos  Fundamental         b
503      F  c - 36 a 45 anos  Fundamental         a
504      M  e - Mais 56 anos        Medio         a
     Target
500       1
501       1
502       1
503       0
504       1

# Encoding variables to numeric values

In [53]:
number = LabelEncoder()

In [54]:
dataset_train_x_encoded = pd.DataFrame(columns=dataset_train_x.columns)

In [55]:
for x in dataset_train_x.columns:
    dataset_train_x_encoded[x] = number.fit_transform(dataset_train_x[x])

In [56]:
dataset_train_x_encoded.head()

   Genero  Idade  Escolaridade  Profissao
0       0      0             0          1
1       1      0             1          3
2       0      2             0          0
3       1      3             0          0
4       0      2             0          1

In [57]:
dataset_test_x_encoded = pd.DataFrame(columns=dataset_test_x.columns)

In [58]:
for x in dataset_test_x.columns:
    dataset_test_x_encoded[x] = number.fit_transform(dataset_test_x[x])

In [59]:
dataset_train_x_encoded.head()

   Genero  Idade  Escolaridade  Profissao
0       0      0             0          1
1       1      0             1          3
2       0      2             0          0
3       1      3             0          0
4       0      2             0          1

In [1]:
model = GaussianNB()
model.fit(dataset_train_x_encoded, dataset_train_y)

NameError: name 'GaussianNB' is not defined

In [2]:
model.score(dataset_train_x_encoded, dataset_train_y)

NameError: name 'model' is not defined

In [68]:
model.score(dataset_test_x_encoded, dataset_test_y)

0.76